body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none; /* 엣지 스크롤바 x */
}

.page::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera 스크롤바 x*/
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 950px;
  height: 100%;
  margin-top: 4%;
  box-sizing: border-box;
}

.title {
  position: relative;
  text-align: center;
  width: 100%;
  margin-top: 100px;
  font-size: 30px;
  color: #323232;
  box-sizing: border-box;
}

.title::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: #00008C;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  color: #282828;
}

.item {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}

.question {
  display: flex;
  align-items: center;
  width: 100%;
  height: 65px;
  padding: 20px;
  background-color: #e6e6e6;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 15px;
}

.number {
  font-size: 17px;
  margin-right: 20px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;
  margin-left: auto;
  border: none;
  border-radius: 20px;
  background-color: #6E9FED;
}

.button img {
  width: 90%;
  height: 90%;
}

.button:hover {
  cursor: pointer;
}

.answer {
  display: flex;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  height: 65px;
  padding: 20px;
  padding-left: 75px;
  background-color: #6E9FED;
  color: #FFFFFF;
  box-sizing: border-box;
  margin-bottom: 20px;
  border-radius: 10px;
  font-size: 15px;
}

.answerfaq {
  white-space: nowrap; /* 줄바꿈 방지 */
}