body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.faqpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #282828;
  overflow-y: scroll;
  -ms-overflow-style: none;
  box-sizing: border-box;
}

.faqpage::-webkit-scrollbar {
  display: none;
}

.faq-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65%;
  padding-bottom: 100px;
  box-sizing: border-box;
}

.faq-title {
  position: relative;
  text-align: center;
  margin-top: 145px;
  margin-bottom: 50px;
  font-size: 30px;
  color: #323232;
  box-sizing: border-box;
  width: 100%;
}

.faq-title::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: #00008C;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.list {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.item {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
}

.question {
  display: flex;
  align-items: center;
  position: relative;
  height: 60px;
  padding: 15px;
  background-color: #e6e6e6;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 10px;
}

.number {
  text-align: center;
  width: 50px;
  min-width: 50px;
  font-size: 15px;
}

.question .text {
  width: auto;
  padding-left: 5px;
  margin-right: 50px;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 2%;
  /* height: 2.5%; */
  min-width: 33px;
  min-height: 33px;
  right: 10px;
  border: none;
  border-radius: 20px;
  background-color: #6E9FED;
  cursor: pointer;
}

.button img {
  width: 90%;
  height: 90%;
}

.button:hover {
  background-color: #00008C;
}

.answer {
  display: flex;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  min-height: 64px;
  padding: 15px;
  padding-right: 50px;
  padding-left: 70px;
  background-color: #C1DAFB;
  box-sizing: border-box;
  margin-bottom: 20px;
  border-radius: 10px;
}

.answerfaq {
  white-space: nowrap;
  flex-shrink: 0;
}

@media (max-width: 1279px) { /* 반응형 */
  .faq-container.sidebar-open {
    padding-left: 20%;
  }

  .faq-title {
    font-size: calc(28px + (30 - 28) * ((100vw - 768px) / (1279 - 768))) !important;
  }

  .faq-title::after {
    height: calc(2px + (3 - 2) * ((100vw - 768px) / (1279 - 768))) !important;
  }

  .number {
    font-size: calc(10px + (15 - 10) * ((100vw - 768px) / (1279 - 768))) !important;
  }

  .question .text {
    font-size: calc(13px + (13 - 10) * ((100vw - 768px) / (1279 - 768))) !important;
  }
}

@media(max-width: 1024px) {
  .faq-container.sidebar-open {
    padding-left: 210px;
  }

  .question .text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .answer {
    height: 104px;
    overflow: hidden;
  }

  .answer span {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media(max-width: 768px) {
  .faq-title {
    font-size: 28px !important;
  }

  .faq-title::after {
    height: 2px !important;
  }

  .faq-container {
    width: 80%;
  }

  .number {
    text-align: center;
    width: 50px;
    min-width: 30px;
    font-size: 10px !important;
  }

  .question {
    padding: 3px;
  }

  .question .text {
    font-size: 10px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

 .answer span {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}