body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 950px;
  height: 100%;
  padding-bottom: 70px;
  box-sizing: border-box;
  color: #282828;
}

.signup-title {
  position: relative;
  text-align: center;
  width: 100%;
  margin-top: 150px;
  margin-bottom: 20px;
  font-size: 30px;
  color: #323232;
  box-sizing: border-box;
}

.signup-title::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: #00008C;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.write-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
}

.userInput input { /* 이름 ~ 생년월일 칸 */
  width: 100%;
  margin-bottom: 10px;
  padding: 12px;
  padding-left: 25px;
  font-size: 15px;
  border: 1px solid #757575;
  border-radius: 18px;
  background-color: transparent;
  box-sizing: border-box;
}

.userInput input:focus {
  border: 3px solid #00008C;
  outline: none;
}

.button-container { /* 버튼 컨테이너 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 50px;
  gap: 10px;
}

.button-container > * {
    flex: 1;
}

.backBtn,
.signUp-Btn button { /* 뒤로가기, 로그인 버튼 */
  width: 100%;
  padding: 12px;
  font-size: 14px;
  border: 3px solid #00008C;
  border-radius: 18px;
  background-color: #00008C;
  color: #FFFFFF;
  box-sizing: border-box;
}

.backBtn:hover,
.signUp-Btn button:hover {
  cursor: pointer;
}

.password-message {
  color: red; 
  transition: color 0.3s; 
}

.password-match {
  color: green;
}