body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/mainBackImage.jpg'); /* 배경 이미지 경로 설정 */
  background-attachment: fixed; /* 배경 이미지 고정 */
  background-size: cover; /* 배경 이미지 크기 조정 */
  background-position: center; /* 배경 이미지 위치 설정 */
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 950px;
  height: 100%;
  margin-top: 4%;
  box-sizing: border-box;
}

.team-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.title {
  position: relative;
  text-align: center;
  margin-bottom: 50px;
  font-size: 30px;
  color: #000000;
  width: 100%;
  box-sizing: border-box;
}

.title::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px; /* 파란 막대의 높이를 동일하게 설정 */
  background-color: #00008C;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.intro-text {
  text-align: center;
  margin-bottom: 20px;
}

.teammate {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  justify-items: center;
  width: 100%;
}

.teammate ul {
  display: contents; /* Grid layout에서 ul 요소 제거 */
}

.teammate li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profile-pic {
  width: 120px; /* 크기를 조금 키움 */
  height: 120px; /* 크기를 조금 키움 */
  background-color: #F24822;
  border-radius: 50%;
  margin-bottom: 10px;
  overflow: hidden; /* 원 모양으로 만들기 위해 넘치는 부분 숨김 */
}

.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지가 원 안에 꽉 차도록 설정 */
}

.teammate p {
  margin: 0;
  text-align: center;
}

.future-message {
  margin-top: 50px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #2f4f4f; /* Dark Slate Gray */
}
