/* 슬라이더 컨테이너 스타일 */
.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  outline: none;
  overflow: hidden;
  position: relative;
}

/* 슬라이드를 감싸는 래퍼 */
.slides-wrapper {
  display: flex;
  transition: transform 0.4s ease-in-out;
  width: 100%;
}

/* 개별 슬라이드 스타일 */
.individual-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 56.25vw;
  flex-shrink: 0;
  max-width: 800px;
  max-height: 450px;
}

/* 슬라이드 이미지 스타일 */
.slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

/* 페이지네이션 인디케이터 스타일 */
.pagination-indicators {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* 개별 페이지네이션 점 스타일 */
.pagination-dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.pagination-dot.active {
  background-color: #717171;
}

/* 컨트롤 버튼 스타일 */
.control-button {
  background: none;
  border: none;
  color: #bbb;
  font-size: 20px;
  cursor: pointer;
  padding: 0;
  margin: 0 10px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  justify-content: center;
}

.control-button:hover {
  color: #717171;
}

/* 미디어 쿼리: 최대 너비 1024px */
@media (max-width: 1024px) {
  .individual-slide {
    height: 50vw;
    max-height: none;
  }
}

/* 미디어 쿼리: 최대 너비 768px */
@media (max-width: 768px) {
  .individual-slide {
    height: 45vw;
    max-height: none;
  }
}

/* 미디어 쿼리: 최대 너비 600px */
@media (max-width: 600px) {
  .individual-slide {
    height: auto;
    padding-bottom: 56.25%;
    position: relative;
  }

  .slide-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
}
