#map {
    position: relative;
    margin-top: 73px;
}

/* 카카오 지도 api css코드 */
.content-wrap {
    position: absolute;
    left: 0;
    bottom: 30px;
    width: 280px;
    height: 145px;
    margin-left: -144px;
    text-align: left;
    overflow: hidden;
    font-size: 12px;
    line-height: 1.5;
}

.content-wrap * {
    padding: 0;
    margin: 0;
}

.content-wrap .content-info {
    height: 95px;
    border-radius: 10px;
    background: #fff;
    padding-top: 20px;
    padding-bottom: 10px;
}

.content-wrap .content-info:nth-child(1) {
    border: 0;
    margin: 3px;
    box-shadow: 0px 1px 3px #888;
}

.content-info .content-title {
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    margin-top: -5px;
    margin-bottom: 5px;
    text-align: center;
}

.content-hr {
    width: 93%;
    margin: 0 auto;
    background-color: #00008C; 
    height: 2px; 
}

/* .title::after {
    content: '';
    background-color: #fff;
} */

.content-info {
    display: flex;
    flex-direction: column;
  }

.content-info::after {
  content: '';
  position: absolute;
  margin-left: -12px;
  left: 145px;
  bottom: 5px;
  width: 22px;
  height: 12px;
  background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png');
}
  
.content-link {
  align-self: flex-end; 
  margin-right: 10px; 
  font-size: 10px;
  font-weight: bold;
  z-index: 10;
}

.content-link:hover {
    color: #6E9FED;
}

.content-owner {
    font-size: 15px;
    width: 100px;
    margin-left: 20px;
    margin-top: 5px;
}

.content-size {
    font-size: 15px;
    width: 100px;
    margin-left: 20px;
    margin-top: 5px;
}

/* 지도 모달창 css */
.map-container {
    position: absolute;
    top: 55%;
    right: 20px; 
    transform: translate(0, -50%); 
    width: 350px; 
    height: 550px;
    border-radius: 10px;
    z-index: 1000;
    justify-content: center;
    background-color: #fff;
    padding: 20px 10px;
    margin-right: 20px;
  }

  .map-content::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  
  .map-closebtn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    padding: 0 5px;
    margin-top: 5px;
    margin-right: 5px;
  }

  .map-closebtn:hover {
    color: red;
  }
  
  .map-info {
    font-size: 15px;
    padding: 0;
  }

  .map-infotitle {
    font-size: 23px;
    font-weight: bold;
    text-align: center;
  }

  .map-title1 {
    margin-left: 10px;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .map-title {
    margin-left: 10px;
    font-size: 17px;
    margin-bottom: 10px;
  }
  
  .map-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .map-map {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%; 
  }
  
  .map-map img {
    max-width: 300px; 
    max-height: 300px; 
    width: auto; 
    height: auto; 
    border-radius: 3px; 
  }
  
  .map-noImg {
    font-size: 14px;
  }

  .map-hr {
    width: 93%;
    margin-top: 10px;
    background-color: #00008C; 
    height: 1px; 
  }