#map {
    position: relative;
    margin: 10px;
}

/* 카카오 지도 api css코드 */
.wrap {
    position: absolute;
    left: 0;
    bottom: 30px;
    width: 280px;
    height: 100px;
    margin-left: -144px;
    text-align: left;
    overflow: hidden;
    font-size: 12px;
    line-height: 1.5;
}

.wrap * {
    padding: 0;
    margin: 0;
}

.wrap .info {
    height: 75px;
    padding: 5px 3px;
    border-radius: 5px;
    border-right: 1px solid #ccc;
    background: #fff;
    padding: 20px 5px;
}

.wrap .info:nth-child(1) {
    border: 0;
    box-shadow: 0px 1px 2px #888;
}

.info .title {
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: -5px;
}

.title::after {
    content: '';
    background-color: #fff;
}

.info {
    display: flex;
    flex-direction: column;
  }
  
.link {
  align-self: flex-end; 
  margin-right: 10px; 
  z-index: 5;
}

.link:hover {
    color: #6E9FED;
}