body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.userFrame {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
}

.userFrame input {
  width: 100%;
  margin-bottom: 10px;
  padding: 12px;
  padding-left: 25px;
  font-size: 15px;
  border: 3px solid #00008C;
  border-radius: 18px;
  box-sizing: border-box;
}

.userFrame input { /* 아이디, 비밀번호 칸 */
  background-color: transparent;
}

.Wrapper { /* 버튼 컨테이너 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.Wrapper > * {  /* > *: .Wrapper 클래스의 직접 자식 요소들을 모두 선택 */
  flex: 1;
}

.userFrame button, 
.actionButton { /* 로그인, 회원가입 버튼 */
  width: 100%;
  padding: 12px;
  font-size: 14px;
  border: 3px solid #00008C;
  border-radius: 18px;
  background-color: #00008C;
  color: #FFFFFF;
  box-sizing: border-box;
}

.userFrame button,
.actionButton:hover {
  cursor: pointer;
}