.adminModal-page {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 31%;
  min-width: 430px;
  height: auto;
  position: absolute;
  right: 4.5%;
  top: 405px;
  transform: translate(-50%, -50%); 
  border-radius: 15px;
  background-color: #FFFFFF;
  color: #282828;
  z-index: 1000;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.adminModal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  overflow-y: hidden;
  -ms-overflow-style: none;
}

.adminModal h2 {
  font-weight: normal;
}

.adminModal::-webkit-scrollbar {
  display: none;
}

.adminModal-Btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: gray;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.adminModal-container,
.adminModal-content {
  width: 100%;
  font-size: 14px;
  box-sizing: border-box;
}

.adminModal-content {
  padding: 30px;
}

.adminModal-image,
.adminModal-image2 {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  width: auto;
  /* max-width: 440px; */
  /* max-height: 200px; */
  box-sizing: border-box;
}

.adminModal-image p,
.adminModal-image2 p {
  width: 100%;
  text-align: center;
  margin: 0;
  margin-bottom: 7px;
}

.change-log-image,
.change-log-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
}

.change-log-image img,
.change-log-result img {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
}

.change-rating-result {
  text-align: center;
  /* border: 1px solid #ddd; */
  padding: 10px;
  margin-top: 10px;
}

.change-rating-result p {
  margin: 0;
}