.adminModal-page {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin-top: 105px;
  width: 80%;
  height: 80%;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
}

.adminModal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
}

.adminModal-Btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: gray;
  color: white;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.adminModal-container,
.adminModal-content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.adminModal-content {
    padding: 30px;
}

.adminModal-image,
.adminModal-image2 {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
  gap: 10px;
  box-sizing: border-box;
}

.change-log-image,
.change-log-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  padding: 10px;
}

.change-log-image img,
.change-log-result img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}