body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.adminModal-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  color: #282828;
  box-sizing: border-box;
  overflow-y: scroll;
  -ms-overflow-style: none;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5);
}

.adminModal-page::-webkit-scrollbar {
  display: none;
}

.adminModal-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 58%;
  height: auto;
  margin-top: 80px;
  gap: 20px;
  box-sizing: border-box;
}

.adminModal-gap {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
}

.adminModal-content {
  position: relative;
  width: 50%;
  height: auto;
  max-width: 512px;
  min-width: 440px;
  padding: 25px;
  padding-top: 45px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  border-radius: 20px;
  font-size: 14px;
}

.adminModal-Btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10px;
  right: 10px;
  background: gray;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.adminModal-container2 {
  width: 100%;
  height: 100%;
}

.adminModal-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  gap: 10px;
}

/* .adminModal-images h2 {
  width: 100%;
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-size: 23px;
  margin-bottom: 20px;
}

.adminModal-images h2::after {
  content: '';
  display: block;
  width: 87%;
  height: 2px;
  background-color: #00008C;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
} */

.adminModal-image,
.adminModal-image2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.adminModal-image p,
.adminModal-image2 p {
  width: 100%;
}

.change-log-image,
.change-log-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dotted #D3D3D3;
  border-radius: 8px;
  padding-bottom: 15px;
}

.change-log-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 48%;
}

.change-log-image img {
  max-width: 100%;
  max-height: 150px;
  object-fit: contain;
}

.change-rating-result {
  width: 100%;
  font-size: 18px;
}

.change-rating-result p {
  margin: 0;
  margin-top: 10px;
  font-weight: bolder;
  text-shadow: 1px 1px 1px gray;
}

/* .change-rating-result::before {
  content: '';
  display: block;
  width: 87%;
  height: 2px;
  background-color: #00008C;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
} */

/* 반응형 스타일: 최대 너비 1279px */
/* @media (max-width: 1279px) {
  .adminModal-gap {
    min-width: 150px;
    margin-left: auto;
  }
}

@media (max-width: 768px) {
  .adminModal-container {
    width: 90%;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
  }

  .adminModal-content {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%;
    max-width: 100%;
    min-width: 0;
    height: 100%; 
    box-sizing: border-box;
  }

  .change-rating-result {
    font-size: 17px !important;
  }
} */