body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.detailpage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #282828;
  box-sizing: border-box;
  overflow: hidden; /* 스크롤바를 숨깁니다. */
}

.detailpage::-webkit-scrollbar {
  display: none; /* Webkit 기반 브라우저에서 스크롤바를 숨깁니다. */
}

.detail-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin-top: 5%;
  gap: 20px;
  box-sizing: border-box;
}

.detail-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 40%;
  box-sizing: border-box;
  white-space: nowrap;
}

.detail-title {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: #6E9FED;
  border: 3px solid #6E9FED;
  color: #E6E6E6;
  box-sizing: border-box;
}

.details {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 14px;
  box-sizing: border-box;
}

.d-info {
  display: flex;
  align-items: center;
  width: 100%;
  height: 55px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #E6E6E6;
  border: 3px solid #757575;
  color: #000000;
  box-sizing: border-box;
}

.d-info::before {
  content: attr(info-title) ": ";
  width: 75px;
  padding-right: 10px;
  font-size: 15px;
  flex-shrink: 0;
}

.d-info span {
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  box-sizing: border-box;
}

.btn > * {
  text-align: center;
  margin: 0 5px;
  padding: 10px;
  color: #fff;
  background-color: #6E9FED;
  border-radius: 20px;
  font-size: 15px;
  text-decoration: none;
  border: none;
  flex: 1;
  transition: background-color 0.3s ease, color 0.3s ease; /* 호버 효과를 위한 부드러운 전환 추가 */
}

.btn > *:hover {
  cursor: pointer;
  background-color: #00008C;
  color: white;
}

/* 지도와 텍스트를 포함하는 컨테이너 */
.map-container {
  width: 100%;
  max-width: 512px;
  box-sizing: border-box;
}

.map {
  width: 100%;
  box-sizing: border-box;
}

.map img {
  width: 100%;
  height: auto;
}

.noImg {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

/* 지도 하단에 텍스트를 표시하기 위한 CSS */
.map-legend {
  margin-top: 10px;
  background-color: #6E9FED;
  padding: 5px;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
}

.map-legend-item {
  display: block;
  margin: 2px 0;
}

/* 미디어 쿼리 */
@media (max-width: 1279px) { /* 반응형 */
  .detailpage.sidebar-open {
    padding-left: 20%;
  }

  .detail-title {
    font-size: calc(18px + (20 - 18) * ((100vw - 768px) / (1279 - 768))) !important;
  }

  .detail-info {
    min-width: 150px;
    margin-left: auto;
  }

  .btn {
    min-width: 150px;
  }
}

@media (max-width: 1024px) {
  .detailpage.sidebar-open {
    padding-left: 210px;
  }
}
