/* 전체 페이지에 기본 스타일 적용 */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

/* 루트 컨테이너 설정 */
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* 페이지의 기본 레이아웃 설정 */
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* 상세 페이지 레이아웃 설정 */
.detailpage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #282828;
  box-sizing: border-box;
  overflow: hidden;
}

/* 스크롤바 숨기기 */
.detailpage::-webkit-scrollbar {
  display: none;
}

/* 상세 정보 컨테이너 */
.detail-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin-top: 5%;
  gap: 20px;
  box-sizing: border-box;
}

/* 상세 정보 박스 */
.detail-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 40%;
  box-sizing: border-box;
  white-space: nowrap;
}

/* 상세 제목 스타일 */
.detail-title {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: #6E9FED;
  border: 3px solid #6E9FED;
  color: #E6E6E6;
  box-sizing: border-box;
}

/* 세부사항 리스트 */
.details {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 14px;
  box-sizing: border-box;
}

/* 상세 정보 아이템 */
.d-info {
  display: flex;
  align-items: center;
  width: 100%;
  height: 55px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #E6E6E6;
  border: 3px solid #757575;
  color: #000000;
  box-sizing: border-box;
}

/* 상세 정보 아이템의 제목 스타일 */
.d-info::before {
  content: attr(info-title) ": ";
  width: 75px;
  padding-right: 10px;
  font-size: 15px;
  flex-shrink: 0;
}

/* 상세 정보 아이템의 내용 스타일 */
.d-info span {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 버튼 컨테이너 */
.btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  box-sizing: border-box;
}

/* 버튼 스타일 */
.btn > * {
  text-align: center;
  margin: 0 5px;
  padding: 10px;
  color: #fff;
  background-color: #6E9FED;
  border-radius: 20px;
  font-size: 15px;
  text-decoration: none;
  border: none;
  flex: 1;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* 버튼 호버 상태 */
.btn > *:hover {
  cursor: pointer;
  background-color: #00008C;
  color: white;
}

/* 지도 컨테이너 */
.map-container {
  width: 100%;
  max-width: 512px;
  box-sizing: border-box;
}

/* 지도 스타일 */
.map {
  width: 100%;
  box-sizing: border-box;
}

/* 지도 이미지 스타일 */
.map img {
  width: 100%;
  height: auto;
}

/* 이미지가 없는 경우의 스타일 */
.noImg {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

/* 지도 정보 박스 */
.map-Info {
  margin-top: 10px;
  background-color: #6E9FED;
  padding: 5px;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 지도 정보 텍스트 */
.map-Info .info-text {
  color: #FFFFFF;
  margin-left: 10px;
}

/* 색상 박스 스타일 */
.map-Info .red-box,
.map-Info .green-box {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-radius: 3px;
  margin-right: 5px;
}

/* 빨간 박스 스타일 */
.map-Info .red-box {
  border: 2px solid red;
}

/* 초록 박스 스타일 */
.map-Info .green-box {
  border: 2px solid green;
}

/* 지도 정보의 인라인 텍스트 스타일 */
.map-Info span {
  display: inline-block;
  vertical-align: middle;
}

/* 반응형 디자인 */
@media (max-width: 1279px) {
  .detailpage.sidebar-open {
    padding-left: 20%;
  }

  .detail-title {
    font-size: calc(18px + (20 - 18) * ((100vw - 768px) / (1279 - 768))) !important;
  }

  .detail-info {
    min-width: 150px;
    margin-left: auto;
  }

  .btn {
    min-width: 150px;
  }
}

@media (max-width: 1024px) {
  .detailpage.sidebar-open {
    padding-left: 210px;
  }
}
