/* HTML 및 body 요소의 기본 스타일을 초기화 */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* React 앱의 루트 요소 스타일 */
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* 페이지의 기본 스타일 */
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* 상세 페이지의 스타일 */
.detailpage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  -ms-overflow-style: none;  /* IE 및 Edge용 스크롤바 스타일 제거 */
  color: #282828;
  box-sizing: border-box;
}

/* 상세 페이지의 스크롤바 제거 (웹킷 브라우저용) */
.detailpage::-webkit-scrollbar {
  display: none;
}

/* 상세 정보 컨테이너 스타일 */
.detail-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height: auto;
  margin-top: 80px;
  gap: 20px;
  box-sizing: border-box;
}

/* 상세 정보 블록 스타일 */
.detail-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  white-space: nowrap;
}

/* 상세 정보 제목 스타일 */
.detail-title {
  width: 100%;
  padding: 15px 10px;
  font-size: 17px;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: #6E9FED;
  border: 3px solid #6E9FED;
  color: #E6E6E6;
  box-sizing: border-box;
  text-align: center;
}

/* 상세 정보 내용 컨테이너 스타일 */
.details {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

/* 각 상세 정보 항목 스타일 */
.d-info {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: auto;
  padding: 15px 10px;
  font-size: 14px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #E6E6E6;
  border: 3px solid #757575;
  color: #000000;
  box-sizing: border-box;
}

.no-info {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: auto;
  padding: 5px 10px;
  font-size: 14px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-sizing: border-box;
}

/* 각 상세 정보 항목의 레이블 스타일 */
.d-info::before {
  content: attr(info-title) " ";
  display: inline-block;
  width: 95px;
  text-align: left;
  padding-left: 5px;
  white-space: nowrap;
}

.d-info::after {
  content: ":";
  position: absolute;
  left: 95px;
}

/* 각 상세 정보 항목의 값 스타일 */
.d-info span {
  display: inline-block;
  width: calc(100% - 120px);
  margin-left: 100px;
  position: absolute;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 1;
}

.d-info[info-title="농지명"] span {
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 버튼 컨테이너 */
.btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  box-sizing: border-box;
}

/* 버튼 스타일 */
.btn > * {
  text-align: center;
  margin: 0 5px;
  padding: 10px;
  color: #fff;
  background-color: #6E9FED;
  border-radius: 20px;
  font-size: 14px;
  text-decoration: none;
  border: none;
  flex: 1;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* 버튼 호버 상태 */
.btn > *:hover {
  cursor: pointer;
  background-color: #00008C;
  color: white;
}

/* 지도 컨테이너 */
.map-container {
  text-align: center;
  width: auto;
  height: auto;
  max-width: 512px;
  min-width: 440px;
  box-sizing: border-box;
}

/* 지도 사진 컨테이너 스타일 */
.map {
  width: 100%;
  height: 100%;
}

/* 지도 사진 스타일 */
.map img {
  width: 100%;
  height: 100%;
}

/* 이미지가 없을 때 표시할 텍스트 스타일 */
.noImg {
  display: flex;
  justify-content: center; 
  align-items: center; 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}

/* 레이블 컨테이너 스타일 */
.map-label {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 11px;
  gap: 20px;
}

/* 레이블 상자 스타일 */
.label-box {
  display: flex;
  align-items: center;
  margin: 0 10px;
  font-size: 15px;
  width: 450px;
  justify-content: space-around;
}

/* 레드 박스 스타일 */
.red-box {
  width: 100px;
  padding: 4px 10px;
  border: 2px solid red;
  background-color: red;
  text-align: center;
  font-size: 12px;
  color: #fff;
}

/* 오렌지 박스 스타일 */
.orange-box {
  width: 100px;
  padding: 4px 10px;
  border: 2px solid orange;
  background-color: orange;
  text-align: center;
  font-size: 12px;
  color: #fff;
}

/* 그린 박스 스타일 */
.green-box {
  width: 100px;
  padding: 4px 10px;
  border: 2px solid yellowgreen;
  background-color: yellowgreen;
  text-align: center;
  font-size: 12px;
  color: #fff;
}

/* 반응형 스타일: 최대 너비 1279px */
@media (max-width: 1279px) {
  .detailpage.sidebar-open {
    padding-left: 20%;
  }

  .detail-title {
    font-size: calc(16px + (17 - 16) * ((100vw - 768px) / (1279 - 768))) !important;
  }

  .d-info,
  .backBtn {
    font-size: calc(13px + (14 - 13) * ((100vw - 768px) / (1279 - 768))) !important;
  }

  .detail-info {
    min-width: 150px;
    margin-left: auto;
  }

  .map-label {
    font-size: calc(10px + (11 - 10) * ((100vw - 768px) / (1279 - 768))) !important;
  }

  .btn {
    min-width: 150px;
  }
}

/* 반응형 스타일: 최대 너비 1024px */
@media(max-width: 1024px) {
  .detailpage.sidebar-open {
    padding-left: 210px;
  }
}

@media(max-width: 768px) {
  .detail-title {
    font-size: 16px !important;
  }

  .d-info,
  .backBtn {
    font-size: 13px !important;
  }

  .map-label {
    font-size: 10px !important;
  }
}
