body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: grid;
  justify-items: center;
  position: relative;
  grid-template-columns: 1fr 1fr; /* 2개의 열 */
  grid-template-rows: 1fr 3fr;    /* 첫 번째 행 1/4, 두 번째 행 3/4 비율 */
  gap: 20px;
  width: 90%;
  height: 100%;
  /* margin-top: 5.7%; */
  box-sizing: border-box;
}

.content::before { /* 홈페이지 중간 선 */
  content: "";
  position: absolute;
  background-color: #00008C;
  width: 2px;
  height: 70%;
  left: 49%;
  top: 15%;
  transform: translateX(-50%);
}

/* 그리드 영역별(행열로 구분) 배치 */
.content .maintext {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  justify-content: center;    /* 수평 중앙 */
  align-items: center;        /* 수직 중앙 */
  text-align: center;         /* 텍스트 수평 중앙 */
  width: 100%;
  padding: 2% 5%;
  margin-top: 100px;
  box-sizing: border-box;
}

.content .service-intro {
  grid-column: 1;
  grid-row: 2;
  width: 100%;
  height: 100%;
  padding: 2% 5%;
  box-sizing: border-box;
}

.content .search {
  grid-column: 2;
  grid-row: 1;
}

.youtube-container {
  grid-column: 2;
  grid-row: 2;
  width: 100%;
  height: 100%;
  padding: 2% 5%;
  box-sizing: border-box;
}

.youtube {
  position: relative;
  width: 100%;
  height: 100%;
}

.youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.chatbot {
  position: absolute;
  bottom: 50px;
  right: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #00008C;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatbot:hover {
  cursor: pointer;
}

.chatbot img {
  width: 60%;
  height: 60%;
}

.footer {
  grid-column: 1 / -1; /* 전체 너비 차지 */
  grid-row: 3;
  width: 100%;
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 11px;
  background-color: #FFFFFF;
}

.footer p {
  margin: 1px;
}
