.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 2% 5%;
  margin-top: 110px;
  margin-right: 10%;
  gap: 40px;
  box-sizing: border-box;
}

.circle {
  width: 85px;
  height: 85px;
  background-color: #FFFFFF;
  border: 3px solid #6E9FED;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

.circle:hover {
  cursor: pointer;
  transform: scale(1.15);
}

.circle img {
  width: 60%;
  height: 60%;
}

.circle img.nongsaro {
  width: 55%;
  height: 55%;
}

.circle img.government {
  width: 65%;
  height: 25%;
}