.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 2% 5%;
  margin-top: 110px;
  margin-right: 10%;
  gap: 40px;
  box-sizing: border-box;
}

.circle {
  width: 85px;
  height: 85px;
  background-color: orange;
  border-radius: 50%;
}
