/* Modal Container */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 720px;
    max-width: 95%;
    height: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  /* Modal Content */
.modal-content {
    height: auto; /* 높이 자동 조정 */
    max-height: 90vh; /* 최대 높이 설정 */
    overflow-y: auto; /* 세로 스크롤 추가 */
}
  
  /* Modal Header */
  .modal h2 {
    font-size: 1.5rem;
    margin-top: 0;
  }

  caption, legend {
    overflow: hidden;
    left: 0;
    right: 0;
    width: 1px;
    height: 1px;
    margin-left: -9999px;
    text-indent: -9999px;
}
  
  /* textArea */
  .textArea {
    width: 100%;
    height: 17em; /* 높이 조정 */
    margin-bottom: 10px;
    padding: 2%;
    border: 1px solid #dcdcdc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
    color: #4f4f4f;
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif; /* 글꼴 지정 */
}

.textArea table th {
    background: #fafafa;
}
.textArea table th, .textArea table td {
    height: 30px;
    padding: 1%;
    border: 1px solid #dcdcdc;
}

.textArea table td.pointCell {
    font-size: 25px;
}

.textArea * {
    line-height: 1.4;
}

.required {
    display: inline-block;
    color: #ff0000;
    font-weight: 300;
    font-size: 18px;
}

p.checkBox {
    text-align: right;
    color: #969696;
    font-size: 18px;
}

p.checkBox {
    position: relative;
}

input[type="checkbox" i] {
    transform: scale(1.5); /* 크기 조정 */
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 0px 10px 0px 0px;
    padding: initial;
    border: initial;
}


/* Overlay (background behind the modal) */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 999; /* Ensure the overlay is behind the modal but above everything else */
}
  
/* Centering the modal vertically and horizontally */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
/* Responsive adjustments */
@media (max-width: 600px) {
    .modal {
      width: 90%;
    }
}